@model MVCKalkulacka.Models.Kalkulacka

@{
    ViewData["Title"] = "Kalkulačka";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>
        Kalkulačka
        @if (ViewBag.Jmeno !=null)
        {
            <text>pro @ViewBag.Jmeno</text>
        }
    </h1>

   <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PrvniCislo" class="control-label"></label>
                    <br />
                    <input asp-for="PrvniCislo" class="form-control" />
                    <span asp-validation-for="PrvniCislo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DruheCislo" class="control-label"></label>
                    <br />
                    <input asp-for="DruheCislo" class="form-control" />
                    <span asp-validation-for="DruheCislo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Operace" class="control-label"></label>
                    <br />
                    @Html.DropDownListFor(model => model.Operace, new SelectList(Model.MozneOperace, "Value", "Text"))
                    <span asp-validation-for="Operace" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Vypočítej" class="btn btn-default" />
                </div>

                <p style="font-size: 2em;">@Model.Vysledek</p>

            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>